* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: #222;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid yellowgreen;
    background-color: white;
    color: yellowgreen;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

#counter {
    display: flex;
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,20%);
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

.disabled {
    border: 2px solid crimson;
    color: white;  
    background-color: crimson;  
}